body {
    height: auto;
}

.mercury {
    text-align: right;
    background-color: #165a72;
    height: 10%;
    padding: 0px;
    margin: inherit;
    width: auto;
}

.venus {
    height: 60%;
    background-color: whitesmoke;
    text-align: center;
    width: auto;
}