body {
    background-color: yellow;
    height: auto;
}

.mercury {
    text-align: justify;
    background-color: rgb(146, 146, 81);
    height: 10%;
    padding: 20px;
    
}

.venus {
    height: 60%;
}