body {
    background-color: yellow;
    height: auto;
}

.mercury {
    text-align: right;
    background-color: rgb(146, 146, 81);
    height: 10%;
    padding: 20px;
    margin: inherit;
    
}

.venus {
    height: 60%;
    background-color: whitesmoke;
    text-align: center;

}